__pycache__
.Rhistory
.Rapp.history
~$*

.idea/**
Temp/**
cache/**
data/*
output/*
output_generalized/*
output_dtt/*
output_ext/*
!data/autojoin-Benchmark/
!data/autojoin-Benchmark/*
!data/FlashFill/
!data/FlashFill/*




## Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
config_temp.json
src/nohup.out
config_temp.json
